  <section id="landing-page">
  <div style="text-align:center" >
    <img width="200" height="300" alt="Bridely Logo" src="https://media.istockphoto.com/photos/studio-shot-of-young-beautiful-bride-picture-id515231230">
  </div>

  <div style ="text-align:center">  <!-- placeholder for landing page component-->
    <input id ="search-input"
           type='text'
           class="form-control"
           [(ngModel)]="searchItem">
    <button type="submit"><a [routerLink]="['/productpage']"> Search </a></button>
    <p> You are searching for: {{ searchItem }} </p>
  </div>
</section>
