
<div class="container">
  <div class="row">
    <div id="account-tabs"class="col-xs-3">
      <table class="table table-bordered">
        <thead>
          <tr> <button type="button" class="btn btn-primary btn-lg">Account Info</button> </tr>
        </thead>
        <tbody>
          <tr> <button type="button" class="btn btn-secondary btn-lg"> Buying History </button> </tr>
          <tr> <button type="button" class="btn btn-success btn-lg">Selling History</button></tr>
          <tr> <button type="button" class="btn btn-info btn-lg">Recently Viewed</button> </tr>
        </tbody>
      </table>
    </div>

    <div id="space" class="col-xs-3">

    </div>


    <div id="account-tabs-info"class="col-xs-6">
      <table class="table table-bordered">
        <thead>
          <tr> Example Info </tr>
        </thead>
        <tbody>
          <tr> Example Item 1 </tr>
          <tr> Example Item 2 </tr>
          <tr> Example Item 3 </tr>
          <tr> Example Item 4 </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
