
<div class="container">
  <div class="row">
    <div id="account-tabs"class="col-xs-3">
      <table class="table table-bordered">
        <thead>
          <tr> <button type="button" class="btn btn-primary btn-lg" [disabled]="!enableButton" (click)="onClickAccountButton()">Account Info</button> </tr>
        </thead>
        <tbody>
          <tr> <button type="button" class="btn btn-secondary btn-lg" [disabled]="!enableButton" (click)="onClickBuyingHistoryButton()"> Buying History </button> </tr>
          <tr> <button type="button" class="btn btn-success btn-lg" [disabled]="!enableButton" (click)="onClickSellingHistoryButton()">Selling History</button></tr>
          <tr> <button type="button" class="btn btn-info btn-lg" [disabled]="!enableButton" (click)="onClickRecentlyViewedButton()">Recently Viewed</button> </tr>
        </tbody>
      </table>
    </div>

    <div id="space" class="col-xs-3">

    </div>


    <div id="account-tabs-info"class="col-xs-6" *ngIf = "infoShow">
      <table class="table table-bordered">
        <thead>
          <tr> Example Account Info </tr>
        </thead>
        <tbody>
          <tr> First and Last Name </tr>
          <tr> User Name </tr>
          <tr> Email </tr>
          <tr> Other Info </tr>
        </tbody>
      </table>
    </div>

    <div id="buying-history-info"class="col-xs-6" *ngIf = "buyingHistoryShow">
      <table class="table table-bordered">
        <thead>
          <tr> Example Buying History Info </tr>
        </thead>
        <tbody>
          <tr> Example Item 1 w/ buying price</tr>
          <tr> Example Item 2 w/ buying price</tr>
          <tr> Example Item 3 w/ buying price</tr>
          <tr> Example Item 4 w/ buying price</tr>
        </tbody>
      </table>
    </div>

    <div id="selling-history-info"class="col-xs-6" *ngIf = "sellingHistoryShow">
      <table class="table table-bordered">
        <thead>
          <tr> Example Selling History Info </tr>
        </thead>
        <tbody>
          <tr> Example Item 1 w/ selling price</tr>
          <tr> Example Item 2 w/ selling price</tr>
          <tr> Example Item 3 w/ selling price</tr>
          <tr> Example Item 4 w/ selling price</tr>
        </tbody>
      </table>
    </div>

    <div id="recently-viewed-info"class="col-xs-6" *ngIf = "recentlyViewedShow">
      <table class="table table-bordered">
        <thead>
          <tr> Example Recently Viewed Info </tr>
        </thead>
        <tbody>
          <tr> Most recent Item 1</tr>
          <tr> Most recent Item 2</tr>
          <tr> Most recent Item 3</tr>
          <tr> Most recent Item 4</tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
