<!--main header that should be at the top all the time-->
<div id="main-header"style="text-align:center">

  <div id="user-header" style="text-align:right">
    <button type="submit"> Sign Up </button>
    <button type="submit"> Log in </button>
  </div>


  <div id="account-header" style="text-align:left">
    <img width="100" height="100" alt="Account Photo" src="https://i.pinimg.com/736x/c2/32/97/c2329780b8c91806de4448826c549161--face-template-head-silhouette-human.jpg">
    <button type="submit"> Account Info </button>
  </div>

  <h1 id="title-header"> {{ title }} </h1>

  <div id="search-header" style="text-align:right">
    <input type='text' placeholder="Search">
    <button type="submit"> Search </button>
  </div>

  <hr id="title-line">

</div>

<div style="text-align:center">
<img width="200" height="300" alt="Bridely Logo" src="https://media.istockphoto.com/photos/studio-shot-of-young-beautiful-bride-picture-id515231230">
</div>

<div style ="text-align:center">  <!-- placeholder for landing page component-->
 <input type='text' placeholder="Search">
 <button type="submit"> Search </button>
</div>
