<!--main header that should be at the top all the time-->
<html id="html">
<body id="main-body">
<div id="main-header">

<div class="container">

 <div id="first-row-header" class="row">

  <div id="cart-header" class="col-xs-2" >
      <img id="cart-picture" src="https://st2.depositphotos.com/4335005/8479/v/950/depositphotos_84798448-stock-illustration-outline-icon-of-shopping-cart.jpg"/>
      <button id="cart-button" type="submit"><a [routerLink]="['/cartpage']"> Cart</a> </button>
  </div>

  <div class="col-xs-8">

  </div>

  <div id="user-header" class="col-xs-2">
    <button type="submit"><a [routerLink]="['/loginpage']">Sign Up</a></button>
    <button type="submit"><a [routerLink]="['/loginpage']">Log in</a></button>
  </div>

 </div>


  <div id="second-row-header" class="row">

  <div id="account-header" style="text-align:left" class="col-xs-3">
  <a [routerLink]="['/accountpage']"><img id="account-picture" src='https://lh3.googleusercontent.com/HyCy89ARhzK95vOZJbKG9U8WM0JQoad4VprUCoIvVeTXokbqT3Ld6MhbkklamVV__4LXgV0eWXsov9bNwVAgcYtNHt5rayHTE01QE1MKoL-xohvltnt1SKMGShB2r8v9J7cKTe94uQ=w2400' /></a>
    <button id="account-button" type="submit"><a [routerLink]="['/accountpage']" class="col-xs-4"> Account Info </a></button>
  </div>

  <h1 id="title-header"><a [routerLink]="['/']" class="col-xs-6"> {{ title }} </a></h1>

  <div id="search-header" class="col-xs-3">
    <input type='text' placeholder="Search">
    <button type="submit"><a [routerLink]="['/productpage']"> Search </a></button>
  </div>

</div>


</div>
  <hr id="title-line">

</div>

<div>
  <router-outlet></router-outlet>
</div>

<div>
  <p id="footer">Date/Time: <span id="datetime"></span></p>

</div>
</body>
</html>
