<div class="container">
  <div class="row">

    <div id="cc-info" class="col-xs-5">
      Enter Credit Card Information
    </div>

    <div class="col-xs-2">
    </div>

    <div id="order-info"  class="col-xs-5">
      Order Info
    </div>

  </div>
</div>

<br>

<div class="container">
 <div class="row">

   <div class='col-xs-3'>
   </div>

   <div id = "total-info" class="col-xs-6">
     Final total
   </div>

   <div class="col-xs-3">
   </div>

 </div>

 <br>

 <button id ="buy-button" class="btn btn-danger btn-lg">Buy</button>

</div>
